<h1>Welcome, {{username}}!</h1>
<div id="main-content">
	<div id="sell-window">
		<h1 id="sell">SELL</h1>
		<form action="/user/sell" method="POST">
			<span>Base</span>
			<select name="item" id="item">
				{{#each bases}}
					<option>{{this.item_name}}</option>
				{{/each}}
			</select>	
			</br>
			<a id="addPrefix" href="#">Add Prefix</a>
			<select name="prefix1" id="prefix1">
				{{#each prefixes}}
					<option>{{this.name}}</option>
				{{/each}}
			</select>
			<select name="prefix2" id="prefix2"></select>
			<select name="prefix3" id="prefix3"></select>
			</br>
			<a id="addSuffix" href="#">Add Suffix</a>
			<select name="suffix1" id="suffix1">
				{{#each suffixes}}
					<option>{{this.name}}</option>
				{{/each}}
			</select>
			<select name="suffix2" id="suffix2"></select>
			<select name="suffix3" id="suffix3"></select>
			</br>
			<input type="text" name="cost" placeholder="Cost" required>
			<input type="submit"> 
		</form>

		<div id="item-status">
			<img id="item-img" src=""/>
			<div id="item-info"></div>
			<div id="prefixes">
				<div id="prefix-info-1"></div>
				<div id="prefix-info-2"></div>
				<div id="prefix-info-3"></div>
			</div>
			<div id="suffixes">
				<div id="suffix-info-1"></div>
				<div id="suffix-info-2"></div>
				<div id="suffix-info-3"></div>
			</div>
		</div>
	</div>

	<div id="shop">
		<h1>You are selling:</h1>
		{{#each items}}
			<div class="shop-item">
				<a href="/user/item_info/?bind_id={{this.bind_id}}"><img src="/images/{{this.item_image}}"/></a>
				<div>{{this.cost}} Exalted Orbs</div>
			</div>
		{{/each}}
	</div>
</div>

<script src="/javascripts/user.js"></script>